body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffa235;
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;
}

header img {
  max-width: 80rem;
  height: auto;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: black;
  color: #ffa235;
  font-size: 20px;
}

.social-button img {
  width: 2rem;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul a {
  text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  header img {
    max-width: 23rem;
  }
}

@media (max-width: 1024px) {
  header img {
    max-width: 36rem;
  }
}

@media (max-width: 600px) {
  header img {
    max-width: 23rem;
    padding: 0;
  }

  .social-button {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  .social-button img {
    width: 1.5rem;
    height: auto;
  }
}
